PurchaseRequest/wsdl/RFQEnvelope.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.solazyme.com/RequestIn" xmlns:tns="http://www.solazyme.com/RequestIn" xmlns:types1="http://domain.com/purchaserequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types2="http://schemas.xmlsoap.org/soap/envelope/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:pur="http://domain.com/purchaserequest" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://domain.com/purchaserequest"/>
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="soapenv:Header"/>
        <xs:element ref="soapenv:Body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pur:purchaseRequest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://domain.com/purchaserequest" xmlns:pur="http://domain.com/purchaserequest" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
  <xs:element name="purchaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pur:Header"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pur:aeUser"/>
        <xs:element ref="pur:PurchaseRequestID"/>
        <xs:element ref="pur:Total"/>
        <xs:element ref="pur:eManager"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aeUser" type="xs:string"/>
  <xs:element name="PurchaseRequestID" type="xs:string"/>
  <xs:element name="Total" type="xs:string"/>
  <xs:element name="eManager" type="xs:string"/>
</xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.solazyme.com/RequestIn">
        	<xsd:element name="phpRFQin" type="tns:RFQIn"></xsd:element>
        	<xsd:complexType name="RFQIn">
        		<xsd:sequence>
        			<xsd:element name="aeUser" type="xsd:string"></xsd:element>
        			<xsd:element name="PurchaseRequestId"
        				type="xsd:int">
        			</xsd:element>
        			<xsd:element name="Total" type="xsd:double"></xsd:element>
        			<xsd:element name="eManager" type="xsd:string"></xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
        </xsd:schema>
    </wsdl:types>
  <wsdl:message name="RFQEnvelopeRequest">
    <wsdl:part name="RFQEnvelopeRequest" element="tns:phpRFQin"/>
  </wsdl:message>
  <wsdl:portType name="RequestIn">
    <wsdl:operation name="RFQEnvelope">
      <wsdl:input message="tns:RFQEnvelopeRequest"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
