PurchaseRequestOlder/wsdl/RFQApproved.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://domain.com/purchaseFRequest/4" xmlns:tns="http://domain.com/purchaseFRequest/4" xmlns:types1="http://domain.com/purchaserequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://domain.com/purchaserequest" xmlns:rfq="http://domain.com/purchaserequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="purchaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rfq:Header"/>
        <xs:element ref="rfq:Items"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rfq:date"/>
        <xs:element ref="rfq:by"/>
        <xs:element ref="rfq:vendor"/>
        <xs:element ref="rfq:reason"/>
        <xs:element ref="rfq:shipping"/>
        <xs:element ref="rfq:eta"/>
        <xs:element ref="rfq:approved"/>
        <xs:element ref="rfq:comments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="date" type="xs:NMTOKEN"/>
  <xs:element name="by" type="xs:NCName"/>
  <xs:element name="vendor" type="xs:integer"/>
  <xs:element name="reason" type="xs:string"/>
  <xs:element name="shipping" type="xs:NCName"/>
  <xs:element name="eta" type="xs:NMTOKEN"/>
  <xs:element name="approved" type="xs:string"/>
  <xs:element name="comments" type="xs:string"/>
  <xs:element name="Items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="rfq:item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rfq:productNo"/>
        <xs:element ref="rfq:description"/>
        <xs:element ref="rfq:quantity"/>
        <xs:element ref="rfq:price"/>
        <xs:element ref="rfq:total"/>
      </xs:sequence>
      <xs:attribute name="LineNum" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="productNo" type="xs:integer"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="quantity" type="xs:integer"/>
  <xs:element name="price" type="xs:decimal"/>
  <xs:element name="total" type="xs:decimal"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="purchaseRequestRequest">
    <wsdl:part name="purchaseRequestRequest" element="types1:purchaseRequest"/>
  </wsdl:message>
  <wsdl:portType name="rfq">
    <wsdl:operation name="purchaseRequest">
      <wsdl:input message="tns:purchaseRequestRequest"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
